<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<bean id="clientBusiness" class="co.edu.udea.we.mandl.business.impl.ClientBusinessImpl"
		scope="request">
		<property name="clientDAO" ref="clientDAO"></property>
		<property name="personDAO" ref="personDAO"></property>
		<property name="profileDAO" ref="profileDAO"></property>
	</bean>

	<bean id="deviceBusiness" class="co.edu.udea.we.mandl.business.impl.DeviceBusinessImpl"
		scope="session">
		<property name="deviceDAO" ref="deviceDAO"></property>
		<property name="deviceKindDAO" ref="deviceKindDAO"></property>
	</bean>

	<bean id="deviceStatusBusiness"
		class="co.edu.udea.we.mandl.business.impl.DeviceStatusBusinessImpl"
		scope="session">
		<property name="clientDAO" ref="clientDAO"></property>
		<property name="deviceStatusDAO" ref="deviceStatusDAO"></property>
	</bean>

	<bean id="dispositionBusiness"
		class="co.edu.udea.we.mandl.business.impl.DispositionBusinessImpl"
		scope="session">
		<property name="dispositionDAO" ref="dispositionDAO"></property>
	</bean>

	<bean id="kindBusiness" class="co.edu.udea.we.mandl.business.impl.KindBusinessImpl"
		scope="session">
		<property name="kindDAO" ref="kindDAO"></property>
	</bean>

	<bean id="profileBusiness" class="co.edu.udea.we.mandl.business.impl.ProfileBusinessImpl"
		scope="session">
		<property name="profileDAO" ref="profileDAO"></property>
	</bean>
</beans>